$backgroundColor: rgb(145, 39, 39);
$fontColor: rgb(255, 255, 255);

#allContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  #displayFacts {
    background-color: $backgroundColor;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: $fontColor;
    margin-top: 10px;
    width: 100px;
  }
}
